.flex {
    display: flex;
}

.flex--aligned {
    align-items: center;
}

.flex--top {
    align-items: flex-start;
}

.flex--spaced {
    justify-content: space-between;
}

.flex--guts {
    justify-content: center;
    align-items: center;
}

.flex--baseline {
    align-items: baseline;
}

.flex--end {
    align-items: flex-end;
}

.flex--stacked {
    flex-direction: column;
}

.flex__full {
    flex: 1;
}

.flex--stretch {
    align-items: stretch;
}

.flex--wrap {
    flex-wrap: wrap;
}

.nav-wrapper {
    padding-left: 20px;
    padding-right: 20px;
}

.spacing {
    width: 100%;
    height: 20px;
}

.padding-20 {
    padding: 20px;
}

.padding-40 {
    padding: 40px;
}

.margin-0 {
    margin: 0;
}

blockquote {
    color: #9e9e9e;
}

.input-field label {
    color: #888;
}

.panelSlider__slide {
    position: absolute;
    left: 170%;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    transition: all 0.5s ease;
}

.panelSlider__slide--active {
    left: 0;
}

.panelSlider__slide--prev {
    left: -170%;
}